<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d60331d9ae.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="wrapper">
          <ul type="none">
            <li>
              <a href="\homepage">
                <i class="fa fa-leaf"></i>
                <br /><br />
                <p>BeHappy.com</p>
              </a>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#feedback">Getting Feedback</a></li>
          </ul>
        </div>
      </nav>
      <div class="welcome-text">
        <h1>
          &ldquo; A place where we found a
          <span>Valuable Suggestions.</span>&rdquo;
        </h1>
        <a href="/register">Get Started</a>
      </div>
    </header>
    <hr />
    <section id="about">
      <div class="welcome-text">
        <h1 style="font-size: 70px">
          Our Goal:
          <br />
          <small style="font-size: 50px">
            &ldquo; To help the people who are suffering from
            <span>Depression & Anxiety. </span>&rdquo;
          </small>
        </h1>
      </div>
    </section>
    <hr />
    <section id="services">
      <div class="welcome-text">
        <h1 style="font-size: 60px">
          Our Services:
          <br />
          <small style="font-size: 40px">
            &ldquo; TO PROVIDING A TRUSTED SUGGESTIONS WITHOUT PAYING
            <span>ANY TREATMENT CHARGES</span> & WITHOUT SHARE THEIR DATA
            <span>TO ANY THIRD USER PARTY.</span>&rdquo;
          </small>
        </h1>
      </div>
    </section>
    <hr />
    <section id="contact">
      <div class="welcome-text">
        <h1 style="font-size: 50px">
          &ldquo; If you have serious problem or any specific issue regarding
          <span>Depression</span> & <span>Anxiety.</span>&rdquo;
          <br />
          <h1 style="font-size: 30px">
            Join this Community:
            <br />
            <a href="https://doctors247.online/">Doctors247 Online</a>
          </h1>
        </h1>
      </div>
    </section>
    <hr />
    <section id="feedback">
      <div class="welcome-text" style="font-size: 30px">
        <h1>Feedback Form:</h1>
        <form action="" method="POST">
          <label for="fullName" style="color: white">Your Name</label> <br />
          <input type="text" name="fullName" /><br />

          <label for="email" style="color: white">Your E-mail</label> <br />
          <input
            type="text"
            name="email"
            style="width: 250px; height: 40px"
          /><br />

          <label for="comments" style="color: white">Your Feedback</label>
          <br />
          <textarea
            name="comments"
            style="width: 500px; height: 200px"
          ></textarea
          ><br />
          <input type="submit" value="Submit" />
          <input type="reset" value="Clear" />
        </form>
      </div>
    </section>
  </body>
</html>
