<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d60331d9ae.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <form action="/login" method="POST">
      <div id="container">
        <div id="header">
          <a href="\homepage">
            <div id="logo">
              <i class="fa fa-leaf"></i>
              <p>BeHappy.com</p>
            </div>
          </a>
          <h1>Log In Page</h1>
        </div>
        <div id="loginform">
          <div id="containerfields">
            <input type="email" id="email" name="email" placeholder="Email" />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <input type="submit" value="Sign In" />
        </div>
        <div id="footer">
          <p><a href="/register">Register</a> if you're a new user?</p>
        </div>
      </div>
    </form>
  </body>
</html>
